<main class="p-5">
    {{!-- style.css===================================================== --}}

    <h1>Hello world</h1>

    {{> title data="Тянет стиль с компронента!"}}

    <div style="color:rgb(255, 0, 0); background: black;">
        Стиль прописан прямо в тег, имеет наивысший приоритет!
    </div>

    {{!-- NAV=========================================================== --}}
    <div class="row g-5">

        <div class="col-12">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link active">Home</a>
                </div>

                <div class="nav-item">
                    <a href="#" class="nav-link">Contacts</a>
                </div>

                <div class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body p-2">
                    <div class="nav flex-column">
                        <div class="nav-item">
                            <div class="card mb-2">
                                <a href="#" class="nav-link">Home</a>
                            </div>
                        </div>

                        <div class="nav-item">
                            <div class="card mb-2">
                                <a href="#" class="nav-link activ">Contacts</a>
                            </div>
                        </div>

                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link disabled">About</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- BREADCRAMP============================================================== --}}
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>

                        <li class="breadcrumb-item">
                            <a href="#">Laptop</a>
                        </li>

                        <li class="breadcrumb-item">
                            <a href="#">MacBook</a>
                        </li>
                    </ol>
                </div>
                {{!-- BADGE======================================================== --}}
                <div class="col-12">
                    <h3>Hello world <span class="badge text-bg-warning">New</span></h3>
                    <h4>Hello world <span class="badge text-bg-warning rounded-pill text-uppercase">Топ продаж</span>
                    </h4>
                    <button class="btn btn-primary rounded-pill m-3">Click me!</button>
                    <div class="alert alert-success mb-0">
                        <h4>Алертом можно разделять контент<span
                                class="badge text-bg-warning rounded-pill text-uppercase">Топ
                                продаж</span>
                            <button class="btn btn-primary rounded-pill">Click me!</button>
                        </h4>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr class="my-5">
    {{!-- ИКОНКИ - https://icons.getbootstrap.com/====================== --}}

    <h1>Hello<i class="bi bi-emoji-kiss"></i></h1><i class="bi bi-apple"></i>
    <i class="bi bi-emoji-kiss"></i>

    <i class="fa-solid fa-hippo"></i>

    <h1><i class="fa-solid fa-frog fa-bounce" style="color: #1acb1d;"></i>Frog</h1>

    <svg width="30px" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path
            d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
    </svg>

    <div>
        <img src="/svg/user.svg">
    </div>
    <div>
        <img width="100px" src="/images/helment.jpg">
    </div>
    {{!-- ФОРМЫ========================================================= --}}

    <div class="row g-5">
        <div class="col-12">
            <lable class="form-lable">Email address</lable>
            <input class="form-control">
            <div class="form-text text-danger">Error. You need to set correct email</div>
        </div>

        <div class="col-12">

            <div class="row">
                <div class="col-2 ps-1">
                    <lable class="form-lable">Email address</lable>
                </div>
                <div class="col-3">
                    <input type="color" class="form-control form-control-lg">
                </div>
                <div class="col-3">
                    <input class="form-control form-control-sm">
                </div>
                <div class="col-4 ps5 pt-1">
                    <div class="form-text text-danger">Error. You need to set correct email</div>
                </div>
            </div>
        </div>
        <hr>

        <div class="col-12">
            <lable class="form-lable">Select role</lable>
            <select class="form-select form-select-lg">
                <option selected>Open list</option>
                <option value="1">Admin</option>
                <option value="2">User</option>
            </select>
            <div class="form-text text-warning">You need to set correct role</div>
        </div>
        <hr>

        <div class="col-12">
            <div class="form-label">Select Laptop</div>
            <div class="form-check">
                <label class="from-check-label">Apple</label>
                <input name="laptop" type="checkbox" class="form-check-input">
            </div>

            <div class="form-check">
                <label class="from-check-label">HP</label>
                <input name="laptop" type="checkbox" class="form-check-input">
            </div>

            <div class="form-check">
                <label class="from-check-label">Dell</label>
                <input name="laptop" type="checkbox" class="form-check-input">
            </div>
        </div>
        <hr>

        <div class="col-12>">
            <div class="form-label">Select Laptop</div>
            <div class="form-check">
                <label class="from-check-label">Apple</label>
                <input name="laptop" type="radio" class="form-check-input">
            </div>

            <div class="form-check">
                <label class="from-check-label">HP</label>
                <input name="laptop" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="from-check-label">Dell</label>
                <input name="laptop" type="radio" class="form-check-input">
            </div>
        </div>
        <hr>

        <div class="col-12">
            <div class="form-check form-switch">
                <label class="from-check-label">Get bonus</label>
                <input name="laptop" type="checkbox" class="form-check-input">
            </div>
        </div>

    </div>
    <hr class="my-5">

    {{!-- ============================================================== --}}

    <div class="row">
        <section class="col-12 g-1">
            <div class="card text-bg-dark">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="spartanec">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary">Sparta</h5>
                    <p class="text-bg-secondary">This is sparta</p>
                    <a href="/skills" class="btn btn-primary">Open</a>
                </div>
            </div>
        </section>

        <section class="col-6">
            <div class="card">
                <div class="card-header">
                    <div>Menu</div>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Home page</a>
                    </li>

                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Summary page</a>
                    </li>

                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Skillz page</a>
                    </li>
                </ul>

                <div class="card-footer">
                    <button class="btn btn-dark btn-sm">Update list</button>
                </div>
            </div>
        </section>

        <section class="col-6">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            #id
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Age
                        </th>
                    </tr>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Serhii</td>
                        <td>39</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Arina</td>
                        <td>10</td>
                    </tr>
                </tbody>
                </thead>
            </table>
        </section>

        <section class="col-12">
            <div class="row g-1">
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <img class="card-img-top" src="https://picsum.photos/100/50" alt="spartanec">
                            <p>This is content of our box</p>
                            <button class=" btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <img class="card-img-top" src="https://picsum.photos/100/50" alt="spartanec">
                            <p>This is content of our box</p>
                            <button class=" btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <img class="card-img-top" src="https://picsum.photos/100/50" alt="spartanec">
                            <p>This is content of our box</p>
                            <button class=" btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class=" btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class=" btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-12">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class=" btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </section>

        <section class="col-12">
            <h1>Hello world</h1>
            <h2>Hello world</h2>
            <h3>Hello world</h3>


            <div class="card">
                <div class="card-body">
                    text dfhaksdg
                </div>
            </div>

            <hr>

            <div class="display-1">Hello world</div>
            <div class="display-5">Hello world</div>
            <div class="display-6">Hello world</div>

            <hr>

            <div class="display-5 text-muted">Hello world</div>
            <span class="text-muted">Hello world</span>

            <hr>

            <div class="text-center">Hello world</div>
            <div class="text-end">Hello world</div>

            <hr>

            <p class="text-start">Start aligned text on all viewport sizes.</p>
            <p class="text-center">Center aligned text on all viewport sizes.</p>
            <p class="text-end">End aligned text on all viewport sizes.</p>

            <p class="text-lowercase">Lowercased text.</p>
            <p class="text-uppercase">Uppercased text.</p>
            <p class="text-capitalize">CapiTaliZed text.</p>

            <button type="button" class="btn btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-outline-secondary">Secondary</button>
            <button type="button" class="btn btn-outline-success">Success</button>
            <button type="button" class="btn btn-outline-danger">Danger</button>
            <button type="button" class="btn btn-outline-warning">Warning</button>
            <button type="button" class="btn btn-outline-info">Info</button>
            <button type="button" class="btn btn-outline-light">Light</button>
            <button type="button" class="btn btn-outline-dark">Dark</button>

            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-link">Link</button>

            <button type="button" class="btn btn-primary btn-lg">Large button</button>
            <button type="button" class="btn btn-secondary btn-lg">Large button</button>

            <button type="button" class="btn btn-primary btn-sm">Small button</button>
            <button type="button" class="btn btn-secondary btn-sm">Small button</button>
        </section>
    </div>

</main>