{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main class="p-4">
    <div class="row">

        <div class="col-6">
            <h1>
                {{#with header}}
                <p>{{name.firstname}} {{name.lastname}}</p>
                {{/with}}
            </h1>
        </div>

        <div class="col-6">
            <h1>
                {{#with header}}
                <p class="text-end">{{name.title}}</p>
                {{/with}}
            </h1>
        </div>
    </div>
    <hr class="my-3">

    <div class="row pt-3">
        <h2>Cписок сторінок</h2>

        <p class="">
            Тут вам потрібно написати інформацію про ваш проєкт.
            Поки що можна написати будь-який текст
        </p>
    </div>

    <div>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>
        <a href="link" class="btn btn-outline-success" target="_blank">text</a>

    </div>

</main>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}